@use "./scrollbar.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden !important;
  background-color: #4DB6AC !important;
}

#app {
  height: 100%;
  background-color: #4DB6AC !important;
}

.v-btn {
  letter-spacing: 0 !important;
}
